<div class="center-align" ng-controller="AuthCtrl as ctrl">
    <h3 class="header-pink"> Auth </h3>

    <div class="container">
     Welcome to Issue Fast Killer. IFK is a modern task manager that helps with organizing work of your squad. First you will have to sign in or login atfer you can work with your team on your tasks.
    </div>
    <br>
    <div class="row">
        <div class="offset-s4 col s2">
            <a ng-href="#/auth/signup" class="waves-effect waves-light btn-large" ng-click=""> Sign up </a>
        </div>

        <div class="col s2">
            <a ng-href="#/auth/login" class="waves-effect waves-light btn-large" ng-click=""> Login </a>
        </div>
    </div>
</div>