<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Issue fast killer </title>
    @Styles.Render("~/styles")
</head>
<body>
    <div class="full" ng-app="IFKApp">
        <div class="full" ng-view></div>
    </div>
    @Scripts.Render("~/scripts")
</body>
</html>